<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
		</sectionGroup>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>
	<common>
		<logging>
			<factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog41">
				<arg key="configType" value="INLINE" />
			</factoryAdapter>
		</logging>
	</common>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target type="ColoredConsole" name="console" layout="${message}" useDefaultRowHighlightingRules="True" errorStream="False">
				<!--<highlight-row backgroundColor="Enum" condition="Condition" foregroundColor="Enum" />-->
				<highlight-word foregroundColor="DarkGreen" ignoreCase="False" text="GenerateFactory" wholeWords="False" />
			</target>
			<target name="debugger" xsi:type="Debugger" layout="--- ${date:format=HH\:mm\:ss} ${message} ${onexception:${newline}${exception:format=ToString,StackTrace}${newline}}" />
			<target type="Console" name="TeamCity_progressMessage" layout="##teamcity[progressMessage '${message}']" />
			<target type="Console" name="TeamCity_buildStatus" layout="##teamcity[buildStatus status='FAILURE' text='${message}']" />
		</targets>
		<rules>
			<logger name="*" minlevel="Trace" writeTo="debugger" />
			<logger name="*" level="Debug" writeTo="console" />
			<logger name="*" minlevel="Info" writeTo="console">
				<filters>
					<when condition="teamcity-output()" action="Ignore" />
				</filters>
			</logger>
			<logger name="*" minlevel="Info" maxlevel="Warn" writeTo="TeamCity_progressMessage">
				<filters>
					<when condition="not teamcity-output()" action="Ignore" />
				</filters>
			</logger>
			<logger name="*" minlevel="Error" writeTo="TeamCity_buildStatus">
				<filters>
					<when condition="not teamcity-output()" action="Ignore" />
				</filters>
			</logger>
		</rules>
	</nlog>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>
