<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog20">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target xsi:type="ColoredConsole"
              name="console"
              layout="${message}"
              useDefaultRowHighlightingRules="True"
              errorStream="False">
        <!--<highlight-row backgroundColor="Enum" condition="Condition" foregroundColor="Enum" />
        <highlight-word backgroundColor="Enum" foregroundColor="Enum" ignoreCase="Boolean"
                        regex="String" text="String" wholeWords="Boolean" />-->
      </target>
      <target name="TeamCity" xsi:type="Console" layout="##teamcity[progressMessage '${message}']" error="False" />
      <target name="debugger" type="Debugger"
              layout="--- ${date:format=HH\:mm\:ss} ${logger:shortName=true} ${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="debugger" />
      <!--<logger name="*" minlevel="Info" writeTo="TeamCity" />-->
    </rules>
  </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>